[Unit]
Description=Read Sensor and Shoot Camera app
After=network.target

[Service]
Type=oneshot
WorkingDirectory=/usr/local/bin/pinode3
# 権限の設定
User=root
# デバッグ用のログ出力
StandardOutput=journal
StandardError=journal
# スクリプトの実行
ExecStart=/usr/local/bin/pinode3/python/pinode3/bin/python /usr/local/bin/pinode3/data_collector.py

# エラー時の再起動設定
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target