[Unit]
Description=Leaf Wilt Detection app
After=network.target

[Service]
Type=simple
WorkingDirectory=/usr/local/bin/pinode3
# Python仮想環境設定
Environment="VIRTUAL_ENV=/usr/local/bin/pinode3/python/pinode3/"
Environment="PATH=$VIRTUAL_ENV/bin:$PATH"
Environment="PYTHONPATH=/usr/local/bin/pinode3"
# GPIO関連の環境変数
Environment="GPIOZERO_PIN_FACTORY=RPiGPIO"
Environment="GPIOZERO_PIN=BCM"
Environment="PIGPIO_ADDR=localhost"
Environment="PIGPIO_PORT=8888"
# 権限の設定
User=root
Group=root
CapabilityBoundingSet=CAP_SYS_RAWIO
AmbientCapabilities=CAP_SYS_RAWIO
# デバッグ用のログ出力
StandardOutput=journal
StandardError=journal
# スクリプトの実行
ExecStart=/usr/local/bin/pinode3/python/pinode3/bin/python /usr/local/bin/pinode3/wilt.py

# エラー時の再起動設定
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
